<!-- Footer Comum - Todas as Páginas -->
<footer>
    <div class="footer-content grid grid-auto-sm">
        <a href="index.html" class="logo-header grid-auto-lg">
            <div class="logo-small">
                <img src="images/logo.jpg" alt="Olibriglea">
            </div>
        </a>
        <div class="grid-container">
            <div class="grid grid-auto-sm">
                <a href="#" class="grid-container">Política de Privacidade</a>
                <a href="#" class="grid-container">Termos e Condições</a>
                <a href="#" class="grid-container">Livro de Reclamações</a>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid grid-auto-sm">
                <div class="copyright grid-container">
                    © 2024 Olibriglea Pastelaria
                </div>
            </div>
        </div>
    </div>
</footer>