<!-- Header Comum - Todas as Páginas -->
<header>
    <nav>
        <a href="index.html" class="logo-header">
            <div class="logo-small">
                <img src="images/logo.jpg" alt="Olibriglea">
            </div>
            <span class="logo-text">Olibriglea</span>
        </a>
        <ul class="nav-menu">
            <li><a href="index.html#ementa">Ementa</a></li>
            <li><a href="index.html#sobre">Sobre</a></li>
            <li><a href="index.html#contactos">Contactos</a></li>
            <li><a href="login.html" class="btn-login-header">Área de cliente</a></li>
        </ul>
    </nav>
</header>